.section-copyright {
    background-color: $bgCopyright;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 15px;
    color: $white;

    .name {
        color: $first;
    }

    .nav {
        margin: 0;
        display: flex;
        justify-content: center;

    }

    span {
        color: $black;
    }

    // .fa {
    //     font-weight: 900;
    // }


    .nav-item {
        width: 48px;
        height: 48px;
        background-color: $first;
        border-radius: 50%;
        margin-right: 25px;
        margin-bottom: 20px;
        position: relative;
        transition: all, .8s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: darken($first, 15%);
        }
    }

    .nav-link {
        text-decoration: none;
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;

        &:after {
            display: none;
        }

        .social-link {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }



}