.section-copyright {
    background-color: $bgCopyright;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 15px;
    color: $white;

    &__social {
        margin-bottom: 15px;
    }

    .name {
        color: $first;
    }

    .nav {
        padding-top: 10px;
        margin: 0;
        display: flex;
        justify-content: center;

    }

    .nav-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: $first;
        border-radius: 100%;
        margin-right: 25px;
        position: relative;
        transition: all .8s;

        i {
            color: $black;
            transition: all, .8s;

            &:hover {
                color: $white;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: darken($first, 15%);
        }

        .nav-link {
            text-decoration: none;

            &::after {
                display: none;
            }
        }
    }
}