$galleryBg: #C79800;

.section-gallery {
    background-color: $galleryBg;
    padding-bottom: 100px;

    h2,
    p {
        color: $white;
    }

    p {
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.1em;
        margin-bottom: 50px;
    }

    .nav {
        justify-content: center;
    }

    .nav-item {
        margin-right: 10px;
    }

    .nav-link {
        text-decoration: none;
        list-style: none;
        outline: none;

        &::after {
            display: none;
        }
    }

    .nav-link.active {
        background-color: $black;
        color: $white;
        border-radius: 25px;

        &:hover {
            color: $white;
        }
    }

    .info-tab {
        font-size: 15px;
        font-weight: 600;
        padding: 10px 15px;
        margin-right: 15px;
        color: $white;
        text-transform: uppercase;
        transition: all .5s;

        &:hover {
            color: $black;
            cursor: pointer;
        }
    }

    .gallery-left {
        margin: 0;
        padding: 0 15px 0 9px;
    }

    .gallery-right {
        padding: 0;
        margin: 0;
    }

}

@media (max-width:1199px) {
    .section-gallery {
        padding-bottom: 80px;

        .gallery-left {
            padding-left: 0;
        }
    }
}

@media (max-width:991px) {
    .section-gallery {
        padding-bottom: 60px;

        .gallery-left {
            padding-right: 15px;
        }

        .gallery-right {
            padding-left: 3px;
        }
    }
}


@media (max-width:767px) {
    .section-gallery {
        padding-bottom: 40px;

        .gallery-left {
            display: none;
        }

        .gallery-right {
            margin-top: 10px;
            padding-left: 0;
        }
    }
}

@media (max-width:575px) {

    .section-gallery {

        .gallery-right {
            margin-top: 0;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}